# Data Story Draft
* Hugo Krijgsman (14667851)
* Ingmar Hartman (15206149)
* Julius de Groot (14362104)

### Introduction
The relationship between freedom and happiness is a crucial area of investigation, especially for informing the development of effective public policies. In Western society, there is a prevalent belief that increased freedom directly correlates with higher levels of happiness. This belief drives significant efforts to enhance personal and political freedoms. However, the reality is more complex. There are countries where people face greater limitations in their freedoms but still report high levels of happiness.

This report utilizes two key datasets to explore the relationship between freedom and happiness. The first dataset, from the Human Freedom Index, measures various aspects of freedom including personal, civil, and economic dimensions. The second dataset, from the World Happiness Report, provides happiness scores based on indicators such as GDP per capita, social support, and life expectancy.

By comparing these datasets, we aim to uncover correlations and patterns that reveal how different dimensions of freedom influence overall happiness across countries.

### Imports

In [18]:
import pandas as pd
import plotly.io as pio

from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

### Datasets

** World Happiness Report**
The Happiness Chart visually represents the correlation between personal freedom and happiness scores across various countries. This bar chart will display the levels of "Personal Freedom" on one axis and the corresponding "Happiness Scores" on the other. Each bar will represent a country, allowing for a clear comparison of how these two variables interact. 

By examining this chart, we can identify patterns, trends, and outliers, making it easier to understand the relationship between personal freedom and overall happiness. Countries with higher levels of personal freedom are expected to show higher happiness scores, while those with lower freedom may exhibit varying happiness levels influenced by other factors such as economic stability, health, and social support. 

This visualization aids in the analysis by providing a straightforward, comparative view of the data, supporting the investigation of how freedom impacts happiness and highlighting significant deviations that warrant further exploration.

In [19]:
happiness_data = pd.read_csv("happiness.csv")
happiness_data["Country"] = happiness_data["Country or region"]
happiness_data = happiness_data.drop(columns=["Country or region", "Overall rank"])

happiness_data.head()

,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Country
0,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Finland
1,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Denmark
2,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Norway
3,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Iceland
4,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Netherlands

**2. Human Freedom Index**

In [20]:
freedom_data = pd.read_csv("freedom.csv", low_memory=False)
columns_to_drop = []

# Normalize country column
freedom_data = freedom_data.rename(columns={"countries": "Country"})
columns_to_drop.extend(["region"])

# Filter out years other than 2019
freedom_data["year"] = pd.to_numeric(freedom_data["year"], errors='coerce')
freedom_data = freedom_data[freedom_data["year"] == 2019]
columns_to_drop.append("year")

# Reset and Drop
freedom_data = freedom_data.reset_index()
columns_to_drop.append("index")
freedom_data = freedom_data.drop(columns=columns_to_drop)

freedom_data.head()

,Country,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol_vdem,pf_rol,pf_ss_homicide,...,ef_regulation_business_adm,ef_regulation_business_burden,ef_regulation_business_start,ef_regulation_business_impartial,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank
0,Albania,8.07,42.0,2.0,5.903741,4.725831,4.047825,7.375907,4.892466,9.343023,...,5.651538,6.666667,9.742477,6.2425,5.621940,7.175250,6.850062,7.700885,7.79,31.0
1,Algeria,5.08,155.0,4.0,4.913311,5.503872,4.254187,5.345021,4.890457,9.613372,...,4.215154,2.222222,9.305002,2.5775,8.771111,7.029528,5.686753,5.840164,4.86,159.0
2,Angola,5.96,127.0,4.0,2.773262,4.352009,3.478950,5.264300,3.534740,8.590305,...,2.937894,2.444444,8.730805,4.7025,7.916416,6.782923,5.585830,5.974672,5.55,153.0
3,Argentina,7.33,75.0,2.0,6.824288,5.679943,4.218635,6.570627,5.574289,8.505814,...,2.714233,5.777778,9.579288,6.5300,5.726521,6.508295,6.139352,5.994265,5.44,154.0
4,Armenia,8.32,34.0,1.0,NaN,NaN,NaN,7.287006,7.287006,9.281977,...,5.170406,5.555556,9.863530,6.9575,9.302574,7.040738,7.315051,7.819774,7.98,17.0

**Merging Both Datasets**

In [21]:
data = pd.merge(freedom_data, happiness_data, on='Country', how='left')
data.head()

,Country,hf_score,hf_rank,hf_quartile,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol_vdem,pf_rol,pf_ss_homicide,...,ef_regulation,ef_score,ef_rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Albania,8.07,42.0,2.0,5.903741,4.725831,4.047825,7.375907,4.892466,9.343023,...,7.700885,7.79,31.0,4.719,0.947,0.848,0.874,0.383,0.178,0.027
1,Algeria,5.08,155.0,4.0,4.913311,5.503872,4.254187,5.345021,4.890457,9.613372,...,5.840164,4.86,159.0,5.211,1.002,1.160,0.785,0.086,0.073,0.114
2,Angola,5.96,127.0,4.0,2.773262,4.352009,3.478950,5.264300,3.534740,8.590305,...,5.974672,5.55,153.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Argentina,7.33,75.0,2.0,6.824288,5.679943,4.218635,6.570627,5.574289,8.505814,...,5.994265,5.44,154.0,6.086,1.092,1.432,0.881,0.471,0.066,0.050
4,Armenia,8.32,34.0,1.0,NaN,NaN,NaN,7.287006,7.287006,9.281977,...,7.819774,7.98,17.0,4.559,0.850,1.055,0.815,0.283,0.095,0.064